# ITERatoriai

In [10]:
skaiciai = [4, 2, 7, 6, 9]
skaiciuoklis = iter(skaiciai)
skaiciuoklis

In [11]:
print(next(skaiciuoklis))

4

In [15]:
skaiciuoklis = iter(skaiciai)
while True:
    try:
        skaicius = next(skaiciuoklis)
    except StopIteration:
        break
    else:
        print(skaicius)

4
2
7
6
9

In [16]:
for skaicius in skaiciai:
    print(skaicius)

4
2
7
6
9

In [22]:
zmogus = {
    'vardas': "Geras",
    'pavarde': "Studentas",
    'pazymiai': [10, 9, 10, 10, 9, 10],
    'lankomumas': 100,
}

zmogaus_atributai = iter(zmogus.items())

while True:
    try:
        raktas, reiksme = next(zmogaus_atributai)
    except StopIteration:
        break
    else:
        print(raktas, reiksme)

vardas Geras
pavarde Studentas
pazymiai [10, 9, 10, 10, 9, 10]
lankomumas 100

# GENERATORIAI

In [23]:
def skaiciai_iki_n(n):
    skaicius = 0
    while skaicius < n:
        yield skaicius
        skaicius += 1

skaitliukas = skaiciai_iki_n(10)
print(skaitliukas)

<generator object skaiciai_iki_n at 0x0000018B50C75F20>

In [25]:
skaitliukas = skaiciai_iki_n(10)
list(skaitliukas)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
skaitliukas = skaiciai_iki_n(10)
for skaicius in range(5):
    print(next(skaitliukas))

0
1
2
3
4

In [57]:
def primes_to_n(limit: int):
    current = 1
    while current < limit:
        current += 1
        if current == 2:
            yield current
        if current % 2 == 0:
            continue
        for number in range(3, current, 2):
            if current % number == 0:
                break
        else:
            yield current

In [60]:
primes_to_100 = primes_to_n(1000)
print(list(primes_to_100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]