# Pandas biblioteka. Antroji dalis.

<br>

---

In [34]:
import pandas as pd
import numpy as np

fiktyviai sugadianm duomenis

In [ ]:
su_nuostoliu = su_utena[su_utena > 20]
su_nuostoliu

tikrinam duomenų kokybę, kur jų trūksta

In [ ]:
su_nuostoliu.isnull()

In [ ]:
su_nuostoliu.isnull().sum()

In [ ]:
su_nuostoliu['Klaipeda'].isnull()

In [ ]:
su_nuostoliu['Klaipeda'].isnull().sum()

išmetam eilutes, kur duomenų trūksta

In [ ]:
su_nuostoliu.dropna()

išmetam stulpelius, kur duomenų trūksta

In [ ]:
su_nuostoliu.dropna(axis=1)

išmetam eilutes, kurių stulpelių duomenų kiekis neviršyja thresh

In [ ]:
su_nuostoliu.dropna(thresh=7)

išmetam stulpelius, kurių eilučių duomenų kiekis neviršyje thresh

In [ ]:
su_nuostoliu.dropna(thresh=6, axis=1)

užpildom nesamus duomenis 'kiauras' reikšme

In [ ]:
su_nuostoliu.fillna('kiauras')

užpildome trūkstamus duomenis stulpelių vidurkiais

In [ ]:
su_nuostoliu['Klaipeda'].fillna(value=su_nuostoliu['Klaipeda'].mean())

In [ ]:
padengti_nuostoliai = su_nuostoliu.fillna(value=su_nuostoliu.mean())
np.round(padengti_nuostoliai, 2)

### grupavimas

transponuojam lentelę, kad būtų patogiau dirbti su jos duomenimis

In [ ]:
visi_miestai = su_utena.transpose()
visi_miestai

pridedam regionus

In [ ]:
regionai = pd.Series([
    'Miestas', 
    'Miestas', 
    'Mazoji Lietuva',
    'Aukstaitija', 
    'Dzukija', 
    'Dzukija', 
    'Mazoji Lietuva', 
    'Aukstaitija'
])
laikini = visi_miestai.reset_index()
laikini['regionai'] = regionai
visi_miestai = laikini.set_index('index')
visi_miestai

sugrupuojam miestus pagal regionus, išvedam vidurkių lentelę

In [ ]:
regionais = visi_miestai.groupby('regionai')
regionais.mean(numeric_only=True)

regionų suma

In [ ]:
regionais.sum(numeric_only=True)

regionų skaičius (realiai visų duomenų bus vienodas)

In [ ]:
regionais.count()

min/max

In [ ]:
regionais.min()

In [ ]:
regionais.max() - regionais.min()

statistinė analizė vieno stulpelio duomens

In [ ]:
regionais[2024].describe()

In [ ]:
regionais[2024].describe().transpose()['Miestas']

### DF jungimas

pasidalinam duomenis

In [ ]:
iki_2010 = visi_miestai[['regionai', 2000, 2004, 2008]].copy()
po_2010 = visi_miestai[['regionai', 2012, 2016, 2020, 2024]].copy()

In [ ]:
top4 = visi_miestai[:'Panevezys'].copy()
bottom4 = visi_miestai['Alytus':].copy()

In [ ]:
pd.concat([top4, bottom4])

In [ ]:
pd.concat([top4, bottom4], axis=1)

In [ ]:
right4 = bottom4.reset_index()
right4.drop(columns='regionai', inplace=True)
right4

In [ ]:
left4 = top4.reset_index().drop(columns='regionai')
left4

In [ ]:
pd.concat([left4, right4], axis=1)

In [ ]:
pd.concat([iki_2010, po_2010], axis=1).drop(columns='regionai', axis=1)

In [ ]:
pd.merge(iki_2010, po_2010, on=['index', 'regionai'])

In [ ]:
iki_2010.join(po_2010, lsuffix='', rsuffix=':R').drop(columns='regionai:R')

<br>
<br>

# Užduotys:

---

<br>

### Pirma užduotis:

Sulipdykite iš 4 fragmentų vieną lentelę:

fragmentus rasite [čia](https://github.com/robotautas/kursas/tree/master/Pandas/tops)

* top_left = pd.read_csv('top1-25-1.csv')
* top_right = pd.read_csv('top1-25-2.csv')
* bottom_left = pd.read_csv('top26-50-1.csv')
* bottom_right = pd.read_csv('top26-50-2.csv')
<br>
pirmiausiai sujunkite apatinę dalį, tada viršutinę (yra persidengiančių stulpelių!), galiausiai viršų su apačia. Naudokite `.concat()` ir `.merge()` metodus.

In [42]:
top_left = pd.read_csv('top1-25-1.csv')
top_right = pd.read_csv('top1-25-2.csv')
bottom_left = pd.read_csv('top26-50-1.csv')
bottom_right = pd.read_csv('top26-50-2.csv')
data_bottom = pd.concat([bottom_left, bottom_right], axis=1)
data_top = pd.merge(top_left, top_right, on=['Track.Name', 'Popularity'])
data = pd.concat([data_top, data_bottom], sort=False)

In [43]:

data.head()

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
0,Senorita,Shawn Mendes,Canadian pop,79.0,117,55,76,-6,8,75,191,4,3
1,China,Anuel AA,Reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
2,boyfriend (with Social House),Ariana Grande,Dance pop,85.0,190,80,40,-4,16,70,186,12,46
3,Beautiful People (feat. Khalid),Ed Sheeran,Pop,NaN,93,65,64,-8,8,55,198,12,19
4,Goodbyes (Feat. Young Thug),Post Malone,DFW rap,94.0,150,65,58,-4,11,18,175,45,7

<br>

### Antra užduotis:

Sutvarkykite indeksą - padarykite, kad prasidėtų nuo 1:

In [44]:
data['#'] = list(range(1, 51))

In [45]:
data.set_index('#', inplace=True)

In [46]:
data.head(50)

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
#,,,,,,,,,,,,,
1,Senorita,Shawn Mendes,Canadian pop,79.0,117,55,76,-6,8,75,191,4,3
2,China,Anuel AA,Reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
3,boyfriend (with Social House),Ariana Grande,Dance pop,85.0,190,80,40,-4,16,70,186,12,46
4,Beautiful People (feat. Khalid),Ed Sheeran,Pop,NaN,93,65,64,-8,8,55,198,12,19
5,Goodbyes (Feat. Young Thug),Post Malone,DFW rap,94.0,150,65,58,-4,11,18,175,45,7
6,I Don't Care (with Justin Bieber),Ed Sheeran,Pop,84.0,102,68,80,-5,9,84,220,9,4
7,Ransom,Lil Tecca,Trap music,92.0,180,64,75,-6,7,23,131,2,29
8,How Do You Sleep?,Sam Smith,Pop,90.0,111,68,48,-5,8,35,202,15,9
9,Old Town Road - Remix,Lil Nas X,Country rap,87.0,136,62,88,-6,11,64,157,5,10
10,bad guy,Billie Eilish,Electropop,95.0,135,43,70,-11,10,56,194,33,38
11,Callaita,Bad Bunny,Reggaeton,93.0,176,62,61,-5,24,24,251,60,31
12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,Dance pop,86.0,96,71,82,-4,15,38,185,28,7
13,Someone You Loved,Lewis Capaldi,Pop,88.0,110,41,50,-6,11,45,182,75,3
14,Otro Trago - Remix,Sech,Panamanian pop,87.0,176,79,73,-2,6,76,288,7,20
15,Money In The Grave (Drake ft. Rick Ross),Drake,Canadian hip hop,92.0,101,50,83,-4,12,10,205,10,5
16,No Guidance (feat. Drake),Chris Brown,Dance pop,82.0,93,45,70,-7,16,14,261,12,15
17,LA CANCION,J Balvin,Latin,90.0,176,65,75,-6,11,43,243,15,32
18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,DFW rap,91.0,90,48,76,-6,7,91,158,56,5
19,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
20,Truth Hurts,Lizzo,Escape room,91.0,158,62,72,-3,12,41,173,11,11
21,Piece Of Your Heart,MEDUZA,Pop house,91.0,124,74,68,-7,7,63,153,4,3
22,Panini,Lil Nas X,Country rap,91.0,154,59,70,-6,12,48,115,34,8
23,No Me Conoce - Remix,Jhay Cortez,Reggaeton flow,83.0,92,79,81,-4,9,58,309,14,7
24,Soltera - Remix,Lunay,Latin,91.0,92,78,80,-4,44,80,266,36,4
25,bad guy (with Justin Bieber),Billie Eilish,Electropop,NaN,135,45,67,-11,12,68,195,25,30
26,If I Can't Have You,Shawn Mendes,Canadian pop,70.0,124,82,69,-4,13,87,191,49,6
27,Dance Monkey,Tones and I,Australian pop,83.0,98,59,82,-6,18,54,210,69,10
28,It's You,Ali Gatie,Canadian hip hop,89.0,96,46,73,-7,19,40,213,37,3
29,Con Calma,Daddy Yankee,Latin,91.0,94,86,74,-3,6,66,193,11,6
30,QUE PRETENDES,J Balvin,Latin,89.0,93,79,64,-4,36,94,222,3,25
31,Takeaway,The Chainsmokers,EDM,84.0,85,51,29,-8,10,36,210,12,4
32,7 rings,Ariana Grande,Dance pop,89.0,140,32,78,-11,9,33,179,59,33
33,0.958333333333333,Maluma,Reggaeton,89.0,96,71,78,-5,9,68,176,22,28
34,The London (feat. J. Cole & Travis Scott),Young Thug,Atl hip hop,89.0,98,59,80,-7,13,18,200,2,15
35,Never Really Over,Katy Perry,Dance pop,89.0,100,88,77,-5,32,39,224,19,6
36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,Big room,89.0,114,72,66,-7,14,32,164,18,6
37,Otro Trago,Sech,Panamanian pop,91.0,176,70,75,-5,11,62,226,14,34
38,Antisocial (with Travis Scott),Ed Sheeran,Pop,87.0,152,82,72,-5,36,91,162,13,5
39,Sucker,Jonas Brothers,Boy band,80.0,138,73,84,-5,11,95,181,4,6
40,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,Dance pop,78.0,95,56,81,-6,6,68,199,48,7
41,Higher Love,Kygo,EDM,88.0,104,68,69,-7,10,40,228,2,3
42,You Need To Calm Down,Taylor Swift,Dance pop,90.0,85,68,77,-6,7,73,171,1,5
43,Shallow,Lady Gaga,Dance pop,87.0,96,39,57,-6,23,32,216,37,3
44,Talk,Khalid,Pop,84.0,136,40,90,-9,6,35,198,5,13
45,Con Altura,ROSALNA,R&B en espanol,88.0,98,69,88,-4,5,75,162,39,12
46,One Thing Right,Marshmello,Brostep,88.0,88,62,66,-2,58,44,182,7,5
47,Te Robar,Nicky Jam,Latin,88.0,176,75,67,-4,8,80,202,24,6
48,Happier,Marshmello,Brostep,NaN,100,79,69,-3,17,67,214,19,5
49,Call You Mine,The Chainsmokers,EDM,88.0,104,70,59,-6,41,50,218,23,3
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

<br>

### Trečia užduotis:

Sukurkite grupavimo pagal žanrą objektą:

In [47]:
grouped = data.groupby('Genre')

In [48]:
grouped

<br>

### Ketvirta užduotis:

Kokie žanrai lentelėje pasitaiko daugiau negu 3 kartus?

In [49]:

newdf = grouped.count()

In [50]:
newdf.head()

,Track.Name,Artist.Name,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
Genre,,,,,,,,,,,,
Atl hip hop,1,1,1,1,1,1,1,1,1,1,1,1
Australian pop,1,1,1,1,1,1,1,1,1,1,1,1
Big room,1,1,1,1,1,1,1,1,1,1,1,1
Boy band,1,1,1,1,1,1,1,1,1,1,1,1
Brostep,2,2,1,2,2,2,2,2,2,2,2,2

In [51]:

newdf[newdf['Energy']>3]['Energy']

Genre
Dance pop    8
Latin        5
Pop          6
Name: Energy, dtype: int64

<br>

### Penkta užduotis:

Koks žanras pats populiariausias? Koks mažiausiai populiarus?

(pagal populiarumo vidurkį)

In [52]:
most_popular_genre = grouped['Popularity'].mean().idxmax()
most_popular_score = grouped['Popularity'].mean().max()
least_popular_genre = grouped['Popularity'].mean().idxmin()
least_popular_score = grouped['Popularity'].mean().min()
print(most_popular_genre, most_popular_score)
print(least_popular_genre, least_popular_score)

Electropop 95.0
Canadian pop 74.5

<br>

### Šešta užduotis:

Sukurkite lentelę, kurioje matytųsi, koks žanras turi aukščiausią vidurkį kiekviename indikatoriuje, bei pats vidurkis.

Kad nereikėtų daug vargti su stulpelių pavadinimais, galima juos ištraukti su <b>.columns.tolist()</b>

In [53]:
cols = data.columns.tolist()[3:]
zanrai = grouped[cols].mean().idxmax()
skaiciai = grouped[cols].mean().max()
result = pd.DataFrame([cols, zanrai, skaiciai], 
                      ['Indikatorius', 'Žanras', 'Balai']).transpose()

In [54]:
result

       Indikatorius          Žanras  Balai
0        Popularity      Electropop   95.0
1  Beats.Per.Minute      Trap music  180.0
2            Energy  Reggaeton flow   80.0
3      Danceability  R&B en espanol   88.0
4    Loudness..dB..         Brostep   -2.5
5          Liveness         Brostep   37.5
6          Valence.        Boy band   95.0
7           Length.  Reggaeton flow  305.5
8    Acousticness..  Australian pop   69.0
9      Speechiness.      Electropop   34.0

<br>

### Septinta užduotis:

Grįžkime prie sulipdytos lentelės. Ištraukite visas eilutes, kurios turi NaN reikšmių.

filtravimo sąlygose naudokite 
<b>.isnull()* funkciją.*</b>

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track.Name        50 non-null     object
 1   Artist.Name       50 non-null     object
 2   Genre             48 non-null     object
 3   Popularity        47 non-null     float64
 4   Beats.Per.Minute  50 non-null     int64
 5   Energy            50 non-null     int64
 6   Danceability      50 non-null     int64
 7   Loudness..dB..    50 non-null     int64
 8   Liveness          50 non-null     int64
 9   Valence.          50 non-null     int64
 10  Length.           50 non-null     int64
 11  Acousticness..    50 non-null     int64
 12  Speechiness.      50 non-null     int64
dtypes: float64(1), int64(9), object(3)
memory usage: 5.5+ KB

In [56]:
data[data['Genre'].isnull() | data['Popularity'].isnull()]

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
#,,,,,,,,,,,,,
4,Beautiful People (feat. Khalid),Ed Sheeran,Pop,NaN,93,65,64,-8,8,55,198,12,19
19,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
25,bad guy (with Justin Bieber),Billie Eilish,Electropop,NaN,135,45,67,-11,12,68,195,25,30
48,Happier,Marshmello,Brostep,NaN,100,79,69,-3,17,67,214,19,5
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

<br>

### Aštunta užduotis:

Stulpelyje 'Genre' NaN reikšmes pakeiskite į 'Pop':

In [57]:
data['Genre'] = data['Genre'].fillna('Pop')

<br>

### Devinta užduotis:

Stulpelyje 'Popularity' trūkstamas reikšmes pakeiskite į stulpelio vidurkį:

In [58]:
data['Popularity'] = data['Popularity'].fillna(value=data['Popularity'].mean())

In [59]:
data[data['Genre'].isnull() | data['Popularity'].isnull()]

Empty DataFrame
Columns: [Track.Name, Artist.Name, Genre, Popularity, Beats.Per.Minute, Energy, Danceability, Loudness..dB.., Liveness, Valence., Length., Acousticness.., Speechiness.]
Index: []